footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    background-color: #354f52;
    border-top-left-radius: 0.9rem;
    border-top-right-radius: 0.9rem;
    padding: 5px 30px;
}

footer span {
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 0.9rem;
}

@media (max-width: 576px) {
    footer {
        border-radius: 0;
        width: 100%;
        text-align: center;
    }
}