header {
    background-color: #354f52;
    display: block;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 0 10px 2px #0000004d;
    z-index: 2;
}

header h1 {
    display: inline-block;
    font-size: 2rem;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    margin: 10px 0;
}

header div {
    padding: 0.5rem 3.5rem;
}